	
div#tbl-container {
	height: expression(getReportTableHeight());
	width: expression(getReportContainerWidth());
	overflow: auto;
	scrollbar-base-color: darkgray;
}

table#tbl {
	height: 1200px;
	width: expression(getReportTableWidth());
	border-collapse: collapse;
	top: -1;
	position: relative;
}


thead th, thead th.locked, tfoot td, tfoot td.locked	{
	position:relative;
	cursor: default; 
}
	
thead th {
	top: expression(document.getElementById("tbl-container").scrollTop-1); /* IE5+ only */
	z-index: 20;
}


td.locked,  th.locked{
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft-1); /* IE5+ only */
	position: relative;
	z-index: 10;
}

thead th.locked 
{
	z-index: 35;
}